2. Baixe o conjunto de dados Iris (https://www.kaggle.com/uciml/iris) e faça o seguinte com ele em um Jupyter Notebook:

In [1]:
import pandas as pd
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

2.1. Exiba a quantidade de amostras existente em cada classe.

In [2]:
df['Species'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

2.2. Separe aleatoriamente 80% dos dados para treino (conjunto de treino) e 20% dos dados para teste (conjunto de teste). Para esta separação, use somente recursos do Python, Numpy ou Pandas. Não use o Scikit Learn para isso.

In [3]:
import numpy as np

def split_train_test(data, test_ratio):
    shuffled_indices = np.random.permutation(len(data))
    test_set_size = int(len(data) * test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

train_set, test_set = split_train_test(df, 0.2)
print(len(train_set), "train +", len(test_set), "test")

120 train + 30 test

2.3. Usando somente o conjunto de treino, mostre as médias dos valores de cada feature para cada classe.

In [4]:
train_set.groupby('Species').mean()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.800000,4.982857,3.382857,1.468571,0.240000
Iris-versicolor,77.186047,5.897674,2.725581,4.218605,1.304651
Iris-virginica,127.000000,6.550000,2.959524,5.542857,2.007143

2.4. Crie um algoritmo seu (sem usar aprendizado de máquina) para baseado nas médias das features calculadas no item 2.3. ou mesmo usando outras ideias suas, classificar corretamente as amostras do conjunto de teste. Aperfeçoe o seu algoritmo de forma a obter melhores resultados. Quanto por cento no conjunto de teste você conseguiu acertar corretamente o rótulo (classe) no seu melhor algoritmo, ou seja, qual a acurácia?

In [9]:
X_train = train_set.drop(['Id'], axis = 1)
X_test = test_set.drop(['Id'], axis = 1)
    
def classifier(X_train, X_test):   
    setosa = X_train[X_train['Species'] == 'Iris-setosa']
    versicolor = X_train[X_train['Species'] == 'Iris-versicolor']
    virginica = X_train[X_train['Species'] == 'Iris-virginica']
    
    mean_setosa = X_train[X_train['Species'] == 'Iris-setosa'].mean(axis=1)
    mean_versicolor = X_train[X_train['Species'] == 'Iris-versicolor'].mean(axis=1)
    mean_virginica = X_train[X_train['Species'] == 'Iris-versicolor'].mean(axis=1)
    
    mean = X_test.mean(axis=1)
    
    array_mean = mean.index.to_numpy()
    array_mean_setosa = setosa.index.to_numpy()
    array_mean_versicolor = setosa.index.to_numpy()
    array_mean_virginica = virginica.index.to_numpy()
    
    x_mean = np.zeros_like(array_mean)

    for i in mean.index:

        x_mean[0] = (array_mean[i] - array_mean_setosa[i])**2
        x_mean[1] = (array_mean[i] - array_mean_versicolor[i])**2
        x_mean[2] = (array_mean[i] - array_mean_virginica[i])**2
        
        if (x_mean[0] <= x_mean[1]) and (x_mean[0]  <= x_mean[2]):
            y_target['Species'] = 'Iris-setosa'
        elif (x_mean[1] <= x_mean[0]) and (x_mean[1]  <= x_mean[2]):
            y_target['Species'] = 'Iris-versicolor'
        elif (x_mean[2] <= x_mean[0]) and (x_mean[2]  <= x_mean[1]):
            y_target['Species'] = 'Iris-virginica'

    print(y_target)
    
classifier(X_train, X_test)

IndexError: index 49 is out of bounds for axis 0 with size 30

- Meu objetivo na 2.4 era tentar fazer comparações com o quadrado da diferença da posição do array e média (a-b)^2 e comparar em qual classe as entradas pertenceriam. 
- Porém, tive problemas com os index dos pandas.series e numpy.arrays e não consegui resolver a tempo